/* Estilos generales */
body {
    font-family: 'Arial', sans-serif;
    background: url('https://www.transparenttextures.com/patterns/brick-wall.png') repeat; /* Textura de fondo alternativa */
    background-color: #e8f5e9; /* Verde claro como color base */
    color: #333;
    margin: 0;
    padding: 0;
}

header {
    background-color: rgba(34, 139, 34, 0.9); /* Verde oscuro translúcido */
    color: #f8fdf8; /* Blanco con un toque verdoso */
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 20px;
}

header .logo {
    max-height: 60px;
}

header h1 {
    font-size: 2.2rem;
    text-align: center;
    margin: 0 auto;
    color: #e8ffe8; /* Blanco verdoso */
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.7); /* Sombra para contraste */
    font-weight: bold;
}
.intro {
    padding: 20px;
    background: rgba(255, 255, 255, 0.9);
    margin: 20px auto;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    text-align: justify;
    max-width: 800px;
}
.intro h2 {
    text-align: center;
    color: #2e7d32;
    font-weight: bold;
    margin-bottom: 10px;
}
.intro p {
    font-size: 1rem;
    line-height: 1.6;
    color: #333;
}


/* Navegación */
nav {
    background-color: #228b22; /* Verde oscuro */
    padding: 10px 0;
}

nav ul {
    display: flex;
    justify-content: center;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    margin: 0 15px;
}

nav ul li a {
    color: #f8fdf8; /* Blanco con un toque verdoso */
    font-size: 16px;
    text-decoration: none;
    font-weight: bold;
}

nav ul li a:hover {
    text-decoration: underline;
    color: #ffd700; /* Amarillo dorado al pasar el ratón */
}

/* Estilo de las secciones */
main {
    padding: 25px;
    margin: 20px auto;
    width: 90%;
    background: rgba(255, 255, 255, 0.95); /* Fondo blanco translúcido */
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}

section {
    margin-bottom: 20px;
}

h1, h2 {
    font-weight: bold;
    text-align: center;
    color: #228b22; /* Verde oscuro */
}

/* Imágenes */
.imagen-seccion {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 10px auto;
    border-radius: 10px;
}

/* Botones */
button {
    background-color: #228b22; /* Verde oscuro */
    color: white;
    border: none;
    padding: 10px 15px;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    margin: 5px 0;
}

button:hover {
    background-color: #1b5e20; /* Verde más oscuro */
}

/* Responsive */
@media (max-width: 768px) {
    header {
        flex-direction: column;
        text-align: center;
    }

    nav ul {
        flex-direction: column;
        align-items: center;
    }

    main {
        width: 95%;
    }
}
